numpy
pandas
psutil
scikit_learn
skillNer
spacy
transformers
accelerate
bitsandbytes
datasets
huggingface_hub
peft
torch
trl
skillNer
ipython
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1.tar.gz